.navbar {
  background-color: red !important;
  color: white !important;
  font-family: 'Baloo Chettan';
}

.navbar-brand {
  color: white !important;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #anycolor !important;
}

ul.nav li.active a {
    color: #anycolor !important;
}

body {
  font-family: 'Baloo Chettan' !important;

}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}
